- @listings.each do |listing|
  .row
    .col-xs-12.listing
      %h3= listing.title
      %p{class: "date"}
        = l(listing.created_at)
        %a{href: listings_path(category_id: listing.category_id), class:'category'}
          %span{class:"badge"}=listing.category.name
      .row
        .col-xs-2
          - if listing.picture
            %a{href: listing_path(listing)}
              = image_tag listing.picture, width:300, class:"img-responsive"
        .col-xs-10
          %p= listing.description
          .clearfix
            %br
          %span{class: "price"}= "€ #{listing.price}"
          %a{href: listing_contact_path(listing.id),class:'btn btn-primary pull-right', data: {do: 'showContactModal', user: "#{current_user.try(:id)}", id: listing.id}}= t('contact')
