%h2= t('activerecord.attributes.listing.details')
%table.table.table-inverse
  %thead
    %tr
      %th= t('image')
      %th= t('activerecord.attributes.listing.title')
      %th= t('activerecord.attributes.listing.description')
      %th= t('activerecord.attributes.listing.price')
      %th= t('activerecord.attributes.listing.category_id')
  %tr
    %td
      - if @listing.picture
        = image_tag @listing.picture, width:300
    %td= @listing.title
    %td= @listing.description
    %td= @listing.price
    %td= @listing.category_id

.col-xs-12
  = form_tag account_comments_path, class: 'form' do
    %textarea{name: 'comment[content]'}
    = submit_tag 'Submit', class: 'btn btn-warning'
    %input{name: 'listing_id', type: 'hidden', value: @listing.id}

.col-xs-12
  %h3= t('comment')
  - @listing.comments.each do |c|
    %p= c.message
