%h2= "Detail view for Listing"
%table.table.table-inverse
  %thead
    %tr
      %th Image
      %th Titre
      %th Description
      %th Prix
      %th Catégorie
  %tr
    %td
      - if @listing.picture
        = image_tag @listing.picture, width:300
    %td= @listing.title
    %td= @listing.description
    %td= @listing.price
    %td= @listing.category_id

.col-xs-12
  = form_tag account_comments_path, class: 'form' do
    %textarea{name: 'comment[content]'}
    = submit_tag 'Submit', class: 'btn btn-warning'
    %input{name: 'listing_id', type: 'hidden', value: @listing.id}

.col-xs-12
  - @listing.comments.each do |c|
    %p= c.message
