.container
  .row
    .col-xs-10.col-xs-offset-1
      %table{class: "table table-striped"}
        %thead
          %tr
            %th= t('image')
            %th= t('price')
            %th= t('date')
            %th= t('message')
        %tbody
          - @messages.each do |f|
            %tr
              - if f.listing.picture
                %td= image_tag f.listing.picture, width:50
              %td= f.listing.price
              %td= f.created_at
              %td= f.message
